.expandedProject {
  border-radius: 2px;
  flex: 0 0 calc(100% - 55px);
  margin-top: 10px;
  transition: height 1s ease-out;
  background: #ebebeb;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  max-height: 50px;
  overflow-y: scroll;
}
.ProjectValueContainer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
}
.ProjectValue {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.ProjectValue strong {
  margin-right: 15px;
}
