.projectGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.projectGridRow {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.projectGridRowItem {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}

.expander {
	flex: 0 0 6px;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	height: 6px;
	padding: 0;
	margin-top: 14px;
	margin-right: 12px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: all 0.3s ease;
}

.expander:hover {
  cursor: pointer;
  color: blue;
}

.expanded {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top:12px;
  transition: all 0.3s ease;
} 

.projectGridColumn :hover {
  cursor: pointer;
  color: blue;
}

.projectGridHeader {
  border-bottom: 1px solid black;
  margin: 0;
  box-shadow: none;
  padding-bottom: 10px;
}

.projectGridHeader:first-child {
  padding-left: 25px;
}

.projectGridColumn {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
}

#projectGridHeader .projectGridColumn {
  font-weight: bold;
}

.projectGrid span{
  margin-left:10px;
}
