input{
    padding: 8px;
    border: 1px solid #2096f3;
    height: 18px;
    font-size: 1em;
}
input:hover{
    cursor: pointer;
}
button{
    border: none;
    height: 36px;
    padding: 0;
    margin-left: 4px;
    width: 20px;
    background:transparent;
}
button:hover{
	cursor: pointer;
}