.expandedProject {
	border-radius: 2px;
	flex: 0 0 100%;
	margin-top: 10px;
	transition: height 1s ease-out;
	background: black;
	color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.expandedProject-inner {
	padding: 20px;
}

.expandedProject:hover {
   box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.ProjectName{
	flex:0 0 100%;
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}
.ProjectValueContainer{
	flex:1 0 100%;
	display: flex;
}
.ProjectValue{
	flex:1 0 50%;
	display: flex;
	justify-content: flex-start;
}