.expandedProject {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.14s;
    -o-transition: 0.14s;
    transition: 0.14s;
    width: 200px;
    height: 200px;
    border-radius: 2px;
}
.expandedProject:hover {
   box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

