.projectGrid{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}

.projectGridRow{
	width:100%;
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding:10px 0;
}

.projectGridRow :hover{
	cursor:pointer;
}

#projectGridHeader{
	border-bottom: 1px solid black;
}

.projectGridColumn{
	flex:1 1;
	display: flex;
	justify-content: flex-start;
}
.projectGridRow :hover{
	color: blue;
}

#projectGridHeader .projectGridColumn{
	font-weight: bold;
}