.expandedProject {
  border-radius: 2px;
  flex: 0 0 calc(100% - 55px);
  margin-top: 10px;
  transition: height 1s ease-out;
  color: black;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid #bcbcbc;
  border-left: none;
  border-right: none;
}
.ProjectValueContainer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
}
.ProjectValue {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.ProjectValue strong {
  text-align: left;
  margin-right: 20px;
}

.ProjectValue > strong:hover {
  cursor: pointer;
}

.ProjectValue div {
  height: 34px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1px 0;
}

.ProjectValue > div:hover{
  cursor: pointer;
}
